body {

    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

#background {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#background video {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#background::after {
    content: '';
    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;

}

header {
    display: flex;
    align-items: center;
    margin-left: 2%;
    padding-right: 1%;
    width: 100%;
    padding-top: 1%;

}

.navigation {
    display: flex;
    align-items: center;
    column-gap: 15%;
    list-style: none;
}

.navigation_link {
    font-size: 89%;
    font-weight: 35%;
    letter-spacing: 20%;
    position: relative;

}

.navigation_link:hover {
    color: grey;
}

.navigation_link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 60%;
    height: 1px;
    background: grey;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
}

.navigation_link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s;

}

main {
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 80vh;
}

@media only screen and (max-width:400px) {
    .navigation {
        display: inline;

    }

    main {
        margin-left: 5%;
        text-size-adjust: 60%;

    }

    .main_info {
        padding-bottom: 30%;
    }

    footer {
        height: 64px;
    }
}

span {
    margin: 1%;
    opacity: 0.6;
}

span:hover {
    opacity: 1;
}

h1 {
    padding-bottom: -20%;
}

.dsc {
    margin-top: -5%;
}

.main_info {
    align-content: flex-start;
    color: whitesmoke;
    width: 100%;
    max-width: 40%;
    margin: 4%;
    height: fit-content;
    padding-bottom: 20%;
}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    height: 8vh;
    background: rgb(70, 66, 66);
    opacity: 0.9;
}

.logos {
    margin-left: 3%;
    flex-direction: row;
    align-items: left;
    padding: 1%;
    height: 3vh;
    width: 3vw;
    opacity: 0.5;
    transition: all 0.4s;
}

.logos:hover {
    opacity: 1;
    transform: translateY(-5px);
    cursor: pointer;
}